* {
    font-family: 'Lato', sans-serif;
}

.no-h-paddings {
    padding-left: 0;
    padding-right: 0;
}

.no-v-paddings {
    padding-top: 0;
    padding-bottom: 0;
}

.no-paddings {
    padding: 0;
}

.v-btn {
    border-radius: 4px;
}

.content-wrapper {
    border-radius: 4px;
    background: #fff;
    padding: 16px;
}

.no-message.solid-input .v-input__slot {
    margin-bottom: 0;
    border-radius: 4px !important;
    box-shadow: 1px 1px 20px 1px #eee !important;
}

.no-message .v-text-field__details {
    margin-bottom: 0;
    height: 0;
    display: none;
}

.solid-container {
    border-radius: 4px;
    box-shadow: 1px 1px 20px 5px #eee;
    overflow: hidden;
}

.solid-container .theme--light.v-table thead tr:first-child {
    border-bottom: 1px solid #afafaf;
}

.zebra-column .v-datatable > tbody > tr > td:nth-of-type(2n),
.zebra-column .v-datatable > thead > tr > th:nth-of-type(2n) {
    background-color: #eee;
}

.theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
    background: #fafafa;
}

@media screen and (max-width: 500px) {
    .no-message.solid-input .v-input__slot {
        margin-top: 8px;
    }
}